<div
  style="
    font-family: Helvetica, Arial, sans-serif;
    min-width: 700px;
    overflow: auto;
    line-height: 2;
  "
>
  <div style="margin: 20px; padding: 20px 10px">
    <div
      style="
        border-bottom: 1px solid #eee;
        text-align: center;
        background: #00466a;
        padding: 10px;
      "
    >
      <a
        href=""
        style="font-size: 1.4em; text-decoration: none; font-weight: 600"
        ><img src="https://iili.io/Sh6wLg.png" style="width: 200px"
      /></a>
    </div>

    <div style="padding: 4px">
      <h2>Verification Code for 2 Step Verification</h2>

      <p style="font-size: 1.1em">Hi <%- userName %>,</p>
      <p>
        We received a request to access your Unreal Account <%- email %> through
        your email address. Your Unreal Captial verification code is:
      </p>
      <h2
        style="
          background: #00466a;
          margin: 0 auto;
          width: max-content;
          padding: 0 10px;
          color: #fff;
          border-radius: 4px;
          letter-spacing: 10px;
        "
      >
        <%- otp %>
      </h2>
      <p style="font-size: 0.9em">Regards,<br />Unreal Captial</p>
      <hr style="border: none; border-top: 1px solid #eee" />
    </div>
    <div
      style="
        float: left;
        padding: 8px 0;
        color: #aaa;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 300;
        width: 50%;
      "
    >
      <p>© <%- year %>. All rights reserved</p>
    </div>
    <div
      style="
        float: left;
        padding: 8px 0;
        color: #aaa;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 300;
        width: 50%;
      "
    >
      <p>Unreal Captial</p>
      <p>103 Sham Peng Tong Plaza,</p>
      <p>Victoria,</p>
      <p>Mahe, Seychelles</p>
    </div>
  </div>
</div>
